*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  color: #ffffff;
}

body {
  background: url("/img/background 1.png") center/cover no-repeat;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 46px 178px 17px 164px;
}

.bg-logo {
  background-image: url(/img/logo\ 3.svg);
  width: 53px;
  height: 47px;
  margin-right: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-link:hover h1 {
  color: #f26522;
}
.logo-link:hover div {
  background-image: url(/img/logo\ 2.png);
}

.logo h1 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;

  color: #ffffff;
}

h1 span {
  font-size: 18px;
  line-height: 18px;
}

.header-contacts {
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-family: sans-serif;
}

.header-contacts div a:hover {
  color: #f26522;
}

.section-box {
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 178px 48px 164px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  color: #ffffff;
}

.card-text {
  padding-top: 20px;
}

.view-details {
  position: absolute;
  padding: 7px 16px 12px;
  opacity: 0;
  width: 300px;
  height: 55px;
  left: 0px;
  top: 165px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  background: #f26522;
  color: #ffffff;
}

.show-details {
  padding-top: 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.show-details:last-child {
  margin-right: 25px;
}

.show-details img {
  position: absolute;
  left: 258px;
  top: 12px;
}

.view-details:hover {
  transition: opacity 1s;
  opacity: 1;
}

.card:hover {
  color: #f26522;
  transition: 1s;
}

.footer-box {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: #ffffff;
}
